<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Stats</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #f7f7f7;
        }

        .button {
            background-color: #207dae;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            height: 60px;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        html {
            font-family: 'Open Sans', sans-serif;
        }

        footer {
            height: 7rem;
        }

        #xper-heading:hover {
            text-decoration: none !important;
            color: #fff !important;
        }

        #navbar {
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* padding: 0 0.75rem; */
            padding: 1em;
            height: 100px;
            background-color: #062e51;
            /* background-color: #207dae; */
            /* position: fixed; */
        }

        #navbar ul {
            list-style-type: none;
            display: flex;
            align-items: center;
        }

        #navbar ul li a {
            padding-top: 0.5em !important;
            padding: 1rem;
            font-size: 1.5em;
            overflow: hidden;
        }

        #navbar ul li a:hover {
            /* background: #336ea2; */
            background: #207dae;
            overflow: hidden;
            border-radius: 4px;
            color: #fff;
            text-decoration: none;
            list-style-type: none;
        }

        .bg-dark-blue {
            background: #062e51;
            /* background: #207dae; */
        }

        #footer {
            display: flex;
            flex-direction: row;
            color: #000 !important;
        }

        #footer ul li {
            list-style-type: none;
        }

        #footer ul li a {
            color: #000 !important;
            text-decoration: none;
        }

        #sec1-2 {
            display: flex;
            flex-direction: column;
            margin-left: 16em;
        }

        #sec3-4 {
            display: flex;
            flex-direction: column;
            margin-left: 5em;
        }

        #sec5-6 {
            display: flex;
            flex-direction: column;
            margin-left: 5em;
        }

        #sec7 {
            margin-left: 3em;
        }

        #sec7 i {
            font-size: 2em;
        }

        #sec1 p,
        #sec2 p,
        #sec3 p,
        #sec4 p,
        #sec5 p,
        #sec6 p,
        #sec7 p {
            font-weight: bold;
            font-size: 1.2em;
        }

        button[id="submitBtn"]:hover {
            background-color: #062e51 !important;
        }

        button[id="submitBtn"]:active {
            background-color: #062e51 !important;
        }

        #link-names a {
            color: #000 !important;
        }
    </style>
</head>

<body onload="updateChart()">
    <div id="navbar">
        <header class="bg-dark-blue">
            <div class="container">
                <nav id="navbar">
                    <a href="/index" id="xper-heading" style="font-size: 2em; font-style: italic;"> xper</a>
                    <ul>
                        <li><a href="#" style="margin-left: 4em;">Why xper?</a></li>
                        <li><a href="/index" style="margin-left: 1em;"> Services</a></li>
                        <li><a href="#footer" style="margin-left: 1em;"> Contact</a></li>
                        <li><a href="#footer"
                                style="margin-left: 1em; background-color: #207dae; border-radius: 4px;">Help</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
    <br><br>
    <div class="chartCard " style="margin-left: 17em;">
        <div class="chartBox row">
            <canvas id="myChart" class="col-lg-9" style="height: 50%; width: 100%;"></canvas>

        </div>
        <br><br><br>
        <div class="chartBox row">
            <canvas id="myLineChart" class="col-lg-9" style="height: 50%; width: 100%;"></canvas>

        </div>
        <br><br><br>
        <div class="chartBox row">
            <canvas id="myDoughnutChart" class="col-sm-9" style=" width: 200px;
            height: 200px;"></canvas>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        let clicks, name, user, amount;
        let createdDate = [], count = [];
        var barColors = [
            "#b91d47",
            "#00aba9",
            "#2b5797",
            "#e8c3b9",
            "#1e7145"
        ];
        //fetch blok
        function updateChart() {
            async function getLinks() {
                const url = 'http://localhost:3000/json-list';
                const response = await fetch(url);
                //wait till request is complated
                const datapoints = await response.json();
                return datapoints;
            };
           
            getLinks().then(datapoints => {
                clicks = datapoints.map(function (index) {
                    return index.clicks;
                })

                name = datapoints.map(function (index) {
                    return index.name;
                })
                
				datapoints.map(function (index) {
					let d = new Date(index.createdDate);
					d.setHours(0,0,0,0);
					let i = createdDate.indexOf(d.getTime());
					if(i==-1) {
						createdDate.push(d.getTime());
						count.push(1);
					} else count[i]++;
				})
				
                myChart.config.data.datasets[0].data = clicks;
                myChart.config.data.labels = name;
                myLineChart.config.data.datasets[0].data = count;
                myLineChart.config.data.labels = createdDate.map(index => new Date(index).toLocaleDateString());
                myChart.update();
                myLineChart.update();	
            });
			
			async function getUsers(){
                const url='http://localhost:3000/user-list';
                const response=await fetch(url);
                const data=await response.json();
                return data;
				};
			
			getUsers().then(data=>{
                user=data.map(function(index){
                    return index.userName;
                })
				amount=data.map(index => index.linksCreated);
				
				myDoughnutChart.config.data.datasets[0].data = amount;
                myDoughnutChart.config.data.labels = user;
                myDoughnutChart.update();
            });
			
        }

        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: name,
                datasets: [{
                    label: 'Number Of Clicks On Short URLs',
                    data: clicks,
                    backgroundColor: '#e06377',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const ctx1 = document.getElementById('myLineChart').getContext('2d');
        const myLineChart = new Chart(ctx1, {
            type: "line",
            data: {
                labels: [createdDate],
                datasets: [{
                    label: 'Frequency Of Link Creation By Date',
                    fill: false,
                    tension: 0.1,
                    data: [count],
                    backgroundColor: "rgba(0,0,0,1.0)",
                    borderColor: "rgba(0,0,0,0.1)"
                }]
            },
            options: {
                legend: { display: false },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const ctx2 = document.getElementById('myDoughnutChart');
        const myDoughnutChart = new Chart(ctx2, {
            type: "doughnut",
            data: {
                labels: [user],
                datasets: [{
                    data: [amount],
                    backgroundColor: barColors,
                }]
            },
            options: {
                maintainAspectRatio: false,
                responsive: true,
                title: {
                    display: true,
                    position: "top",
                    text: "Doughnut Chart",
                    fontSize: 18,
                    fontColor: "#111"
                },
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                        fontColor: "#333",
                        fontSize: 16
                    }
                }
            }
        });

    </script>
   
    <br><br><br><br><br>
    <hr><br>
    <div id="footer">
        <div id="sec1-2">
            <section id="sec1">
                <p>Why <em>xper</em>?</p>
                <ul>
                    <li><a href="#"><em>xper </em> 101</a></li>
                    <li><a href="#">API Service</a></li>
                    <li><a href="#">Enterprises</a></li>
                    <li><a href="#">Pricings</a></li>
                </ul>
            </section>
            <section id="sec2">
                <p>Products &amp; Services</p>
                <ul>
                    <li><a href="#">Link-In-Bio System</a></li>
                    <li><a href="#">Link Management</a></li>
                </ul>
            </section>
        </div>
        <div id="sec3-4">
            <section id="sec3">
                <p>Solutions</p>
                <ul>
                    <li><a href="#">Social Media</a></li>
                    <li><a href="#">Digital Marketing</a></li>
                    <li><a href="#">Customer Service</a></li>
                </ul>
            </section>
            <section id="sec4">
                <p>Features</p>
                <ul>
                    <li><a href="#">Branded Links</a></li>
                    <li><a href="#">Non-branded Links</a></li>
                    <li><a href="#">Analytics</a></li>
                </ul>
            </section>
        </div>
        <div id="sec5-6">
            <section id="sec5">
                <p>Legal</p>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms Of Service</a></li>
                </ul>
            </section>
            <section id="sec6">
                <p>Company</p>
                <ul>
                    <li><a href="#">About <em>xper</em></a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </section>
        </div>
        <div id="sec7">
            <section id="sec7">
                <p><em>xper</em></p>
                © 2022 <em>xper</em> | Handmade in Kocaeli, Turkey. <br> <br>
                <a href="#"><i class="fa-brands fa-facebook" style="color: rgba(0,0,128,1);"></i></a>
                <a href="#"><i class="fa-brands fa-twitter" style="color: #1d9bf0;"></i></a>
                <a href="#"><i class="fa-brands fa-instagram" style="color:#f70261;"></i></a>
                <a href="#"><i class="fa-brands fa-github" style="color: #000;"></i></a>
            </section>
        </div>
        <br><br><br>
    </div>
</body>

</html>